

  <!-- HERO HEADING -->
  <h2>
    My Heroes
  </h2>

  <!-- HERO LIST -->
  <ul class="heroes">
    <!-- ngFor & event-binding -->
    <li *ngFor="let hero of heroes" 
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">

      <span class="badge">
        {{ hero.id }}
      </span>
      {{ hero.name }}
    </li>
  </ul>

<!-- ngIf directive used to prevent 'empty-states' -->
<div *ngIf="selectedHero">

  <!-- SELECTED HERO -->
  <!-- title, 'selectedHero.name,' uses uppercase-pipe -->
  <h4>
    {{ selectedHero.name | uppercase }} Details
  </h4>
  <!-- Details -->
  <!-- one-way-binding -->
  <div>
    <span>id: </span>
    {{ selectedHero.id }}
  </div>
  <div>
    <span>name: </span>
    {{ selectedHero.name }}
  </div>
  <!-- Editing -->
  <!-- two-way-binding -->
  <div>
    <label>name: 
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
</div>



