
  <!-- HERO HEADING -->
  <h2>
    My Heroes
  </h2>
  
<!-- addHero input element -->
<div>
  <label>
    Hero Name
    <input #heroName />
  </label>
  <!-- (click) passes 'name' input to add() -->
  <button (click)="add(heroName.value); heroName.value=''">
    Add Hero
  </button>
</div>

  <!-- HERO LIST -->
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}"> 
        <span class="badge">{{ hero.id }}</span>{{ hero.name }}
      </a>
    </li>
  </ul>













<!-- property binding: 'selectedHero' to '[hero]' property -->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->